Repository Barneyjm/camino-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camino-ai/core-team, @camino-ai/python-team, @camino-ai/javascript-team, @camino-ai/devops-team, @camino-ai/api-team, @camino-ai/docs-team

langchain example
  examples/langchain-example.py
Owners: @camino-ai/docs-team, @camino-ai/core-team

Update langchain-example.py
  examples/langchain-example.py
Owners: @camino-ai/docs-team, @camino-ai/core-team

updates to models
  examples/python-basic.py
  python/camino_ai/client.py
  python/camino_ai/models.py
Owners: @camino-ai/docs-team, @camino-ai/core-team, @camino-ai/python-team

tweaks
  examples/python-basic.py
  python/camino_ai/__init__.py
  python/camino_ai/client.py
  python/camino_ai/models.py
  python/pyproject.toml
Owners: @camino-ai/docs-team, @camino-ai/core-team, @camino-ai/python-team

bump
  README.md
  python/pyproject.toml
Owners: @camino-ai/docs-team, @camino-ai/core-team, @camino-ai/python-team

crewai
  examples/python-crewai-integration.py
Owners: @camino-ai/docs-team, @camino-ai/core-team

bump with images and advance/basic mode
  python/README.md
  python/camino_ai/client.py
  python/camino_ai/models.py
  python/pyproject.toml
Owners: @camino-ai/docs-team, @camino-ai/core-team, @camino-ai/python-team

tests
  python/tests/test_client.py
  python/tests/test_models.py
Owners: @camino-ai/python-team, @camino-ai/core-team

tests
  python/camino_ai/models.py
  python/tests/test_client.py
Owners: @camino-ai/python-team, @camino-ai/core-team

Add mode parameter to SDK (v0.5.1)
  .github/workflows/ci.yml
  python/README.md
  python/camino_ai/__init__.py
  python/camino_ai/client.py
  python/camino_ai/models.py
  python/camino_ai/workflows.py
  python/poetry.lock
  python/pyproject.toml
  python/scripts.py
  python/tests/__init__.py
  python/tests/test_client.py
  python/tests/test_models.py
Owners: @camino-ai/devops-team, @camino-ai/core-team, @camino-ai/docs-team, @camino-ai/python-team

Fix Python 3.9 compatibility: add eval-type-backport for union syntax
  python/pyproject.toml
Owners: @camino-ai/python-team, @camino-ai/core-team

workflow
  .github/workflows/ci.yml
Owners: @camino-ai/devops-team, @camino-ai/core-team

poetry lock
  python/poetry.lock
Owners: @camino-ai/python-team, @camino-ai/core-team

v4
  .github/workflows/ci.yml
Owners: @camino-ai/devops-team, @camino-ai/core-team

trivy
  .github/workflows/ci.yml
Owners: @camino-ai/devops-team, @camino-ai/core-team

no js yet anwyas
  .github/workflows/ci.yml
Owners: @camino-ai/devops-team, @camino-ai/core-team

no js
  .github/workflows/ci.yml
Owners: @camino-ai/devops-team, @camino-ai/core-team

.github/CODEOWNERS:

# Global owners
* @camino-ai/core-team

# Python SDK
/python/ @camino-ai/python-team @camino-ai/core-team

# JavaScript SDK
/javascript/ @camino-ai/javascript-team @camino-ai/core-team

# CI/CD and workflows
/.github/ @camino-ai/devops-team @camino-ai/core-team

# OpenAPI specification
/openapi/ @camino-ai/api-team @camino-ai/core-team

# Documentation
/docs/ @camino-ai/docs-team @camino-ai/core-team
/examples/ @camino-ai/docs-team @camino-ai/core-team
README.md @camino-ai/docs-team @camino-ai/core-team

# Root configuration files
/*.json @camino-ai/core-team
/*.js @camino-ai/core-team
/*.yml @camino-ai/core-team
/*.yaml @camino-ai/core-team
